.img-effect{
  position: absolute;
  top:0;
  left:0;
}

.advert{
  z-index: 10001;
  text-align: center;
  
}

/* line 1, ../sass/cats.scss */
.filter-text {
  width: 100%;
  height: 30px;
  padding: 5px;
  color: #444;
  margin-bottom: 10px;
  border: 0;
  background-color: #fff;
  box-shadow: 0px 0px 3px #83baf7;
}

/* line 13, ../sass/cats.scss */
.left-menu ul {
  list-style: none;
  padding-left: 10px;
}
/* line 16, ../sass/cats.scss */
.left-menu ul li {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 20, ../sass/cats.scss */
.left-menu ul li .left-menu_title {
  display: block;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  width: 100%;
  color: #336a87;
}
/* line 31, ../sass/cats.scss */
.left-menu ul ul li {
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 36, ../sass/cats.scss */
.left-menu ul ul .left-menu_title {
  background-color: #f6f6f6;
}

/* line 45, ../sass/cats.scss */
.items-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  border: 1px solid #333;
  padding: 10px;
  margin: 0 15px 20px;
}

/* line 55, ../sass/cats.scss */
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 60, ../sass/cats.scss */
#owl-demo {
  padding: 20px 0;
}

/* line 63, ../sass/cats.scss */
.owl-pagination {
  height: 3em;
}

/* line 67, ../sass/cats.scss */
.owl-prev, .owl-next {
  position: absolute;
  top: 60%;
  right: 0;
  padding: 29px;
  background-image: url(http://www.clipartbest.com/cliparts/zxi/gk6/zxigk6pcA.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  color: #fff;
  width: 50px;
}

/* line 80, ../sass/cats.scss */
.owl-next {
  transform: rotate(180deg);
  left: 0;
}

/* line 84, ../sass/cats.scss */
.owl-prev:hover, .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
