
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->


<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>Заголовок</title>
	<meta content="" name="description" />
	<meta content="" property="og:image" />
	<meta content="" property="og:description" />
	<meta content="" property="og:site_name" />
	<meta content="website" property="og:type" />

	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="x-rim-auto-match" content="none">

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="favicon.png" />

	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/libs/bootstrap/bootstrap-grid-3.3.1.min.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/libs/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/libs/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/libs/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/libs/countdown/jquery.countdown.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/libs/ion.rangeSlider-2.0.6/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/libs/ion.rangeSlider-2.0.6/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/libs/pagination/simplePagination.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/css/fonts.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/css/main.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/css/cats.css" />
	<link rel="stylesheet" href="{{dir}}/tpl/templates/app/css/media.css" />
</head>
<body>
	<header class="page-header inner-header">
		<div class="page-header_top-line">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="page-header_info">
							<strong>Москва</strong>
							<a href="#map" class="fancybox">
								ул. Верейская, 29, стр. 35
							</a>
						</div>
					</div>
					<div class="col-md-2">
						<div class="page-header_logo">
							<a href="" class="page-header_logo">
								<img src="{{dir}}/tpl/templates/app/img/logo.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-md-5">
						<div class="page-header_info page-header_info--right">
							<strong>
								+7 (499) <span>391-71-53</span>
							</strong>
							<a href="#callback" class="fancybox">
								Заказать обратный звонок
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="top-menu" style="margin-top:70px; background-color: rgba(0,0,0,0.6);">
			<div class="container">
				<div class="row">
					<ul>
						<li class="active"><a href="#">Главная</a></li>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Цены</a></li>
						<li><a href="#">Наши работы</a></li>
						<li><a href="#">Партнеры</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
					<div class="garanty">
						<div class="garanty_left"><span>1</span> год</div>
						<div class="garanty_right">гарантия <br>на все работы</div>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<section class="main-cats s-black" style="padding-top: 20px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Услуги мастерской <strong>Авто</strong><span>Холл</span></h2>
				</div>
			</div>
			<div class="row">
				<ul class="main-cats_wrap">
					<li class="main-cats_item-wrap">
						<div class="main-cats_item">
							<a href="#">
								<span></span>
								<h4>Ремонт кузова</h4>
							</a>
						</div>
						<div class="main-cats_toggle"></div>
						<ul>
							<li>
								<a href="#">Сталельные работы</a>
							</li>
							<li>
								<a href="#">Жестяные работы</a>
							</li>
							<li>
								<a href="#">Арматурные работы</a>
							</li>
							<li>
								<a href="#">Покраска автомобиля</a>
							</li>
							<li>
								<a href="#">Локальная Покраска</a>
							</li>
							<li>
								<a href="#">Покраска мотоцикла</a>
							</li>
							<li>
								<a href="#">Абразивная полировка</a>
							</li>
							<li>
								<a href="#">Арматурные работы</a>
							</li>
							<li>
								<a href="#">Покраска автомобиля</a>
							</li>
							<li>
								<a href="#">Локальная Покраска</a>
							</li>
							<li>
								<a href="#">Покраска мотоцикла</a>
							</li>
						</ul>
					</li>
					<li class="main-cats_item-wrap">
						<div class="main-cats_item">
							<a href="#">
								<span></span>
								<h4>Механические работы</h4>
							</a>
						</div>
						<div class="main-cats_toggle"></div>
						<ul>
							<li>
								<a href="#">Что-то</a>
							</li>
							<li>
								<a href="#">Тут</a>
							</li>
							<li>
								<a href="#">Должно</a>
							</li>
							<li>
								<a href="#">Быть</a>
							</li>
						</ul>
					</li>
					<li class="main-cats_item-wrap">
						<div class="main-cats_item">
							<a href="#">
								<span></span>
								<h4>Экспресс-услуги</h4>
							</a>
						</div>
						<div class="main-cats_toggle"></div>
					</li>
					<li class="main-cats_item-wrap">
						<div class="main-cats_item">
							<a href="#">
								<span></span>
								<h4>Диагностика</h4>
							</a>
						</div>
						<div class="main-cats_toggle"></div>
					</li>
					<li class="main-cats_item-wrap">
						<div class="main-cats_item">
							<a href="#">
								<span></span>
								<h4>Слесарные работы</h4>
							</a>
						</div>
						<div class="main-cats_toggle"></div>
					</li>
					<li class="main-cats_item-wrap">
						<div class="main-cats_item">
							<a href="#">
								<span></span>
								<h4>Ремонт пластика</h4>
							</a>
						</div>
						<div class="main-cats_toggle"></div>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="container">
					<div class="col-md-12">
						<div class="main-cats_btn">
							<a href="#callback" class="button fancybox">Оставить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>