{% for elem in treeCats %}
	<li class="cats-toggle">
		{% if elem.children %}
			<i class="fa fa-plus" style="font-size: 14px;"></i>
		{% endif %}

		{% if elem.children %}
			<a href="#" class="cats-title">{{elem.title}}</a>
		{% else %}
			<a href="#" class="cats-title" style="padding-left: 17px;">{{elem.title}}</a>
		{% endif %}
		<span class="cats-id">(Id - {{elem.id}})</span>

		{% if elem.id in idsCats %}
			<div class="cats-elements">Элементы</div>
		{% endif %}

		{% if elem.children %}
			<ul style="margin-left: 20px; list-style:none; padding: 0; font-size: 18px;" class="cats-{{ cycle(['even', 'odd'], loop.index) }}">

			{% include "default/admin/includes/categories-tree.html" with {'treeCats': elem.children} %}

			</ul>
		{% endif %}
	</li>

{% endfor %}