<article class="module width_full">
	<header><h3>Элементы</h3></header>
	<div class="j-elems-container">
		<table class="tablesorter" cellspacing="0" id="j-elems-table">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>Заголовок</th>
					<th>Автор</th>
					<th>Контент</th>
					<th>Статус</th>
					<th>Дата создания</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for elem in elems %}
					<tr data-id="{{elem.id}}">
						<td><a href="#callback" data-id="{{elem.id}}" class="fancybox" style="margin-left: 20px; font-size: 25px;"><i class="fa fa-picture-o"></i></a></td>
						<td>{{elem.id}}</td>
						<td class="j-elem-title">{{elem.title}}</td>
						<td>{{elem.author}}</td>
						<td style="width: 50%;" class="j-elem-content">
							<div id="over" style="height: 7em;overflow-y: scroll;line-height: 1em;font-size: 14px;">{{elem.content}}</div>
							{#{ elem.content|length > 500 ? elem.content|slice(0, 500) : elem.content}#}
						</td>

						{% if elem.status == 1 %}
							<td><input type="checkbox" checked="checked" name="{{login}}" value="{{elem.status}}"></td>
						{% else %}
							<td><input type="checkbox" name="{{login}}" value="{{elem.status}}"></td>
						{% endif %}

						<td>{{elem.create_at}}</td>

						<td><a href="#callback" data-id="{{elem.id}}" class="fancybox j-props-elem">Свойства</a></td>

						<td>
							<a href="#callback" class="j-edit-elem fancybox"  data-id="{{elem.id}}"><i class="fa fa-picture-o"></i></a>
							<!--a href="#callback" class="button fancybox" style="background: url({{dir}}/imgs/admin/icn_trash.png); display: inline-block; background-repeat: no-repeat; height:1em;"></a-->
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<footer>
		<h3 style="font-size:20px; text-transform: lowercase; margin-top: 3px;">
		{% if count != 1 %}
			<a href="#" style="margin-right: 10px;" class="j-nav-link" data-dir="left">
				<i class="fa fa-angle-left"></i> Туда
			</a>

			{% for i in 1..count%}

					<a href="#" data-pos="{{i}}" class="j-pagination">{{ i }}</a>

			{% endfor %}

			<a href="#" style="margin-left: 10px;" class="j-nav-link" data-dir="right">Сюда 
				<i class="fa fa-angle-right"></i>
			</a>
		{% endif %}
		</h3>
	</footer>
</article>

<script src="{{dir}}/js/admin/loadElems.js"></script>

<script>

	loadElems({
		'container': '.j-elems-container',
		'link': '.j-nav-link',
		'table': '#j-elems-table',
		'url': 'allElems',
		'countNav': {{count}},
		'offset': 'true'
	});

</script>

<!-- Подгрузка в фэнсибокс -->
<script>
	$(function(){
		$('.j-elems-container').on('click', '.j-props-elem', function(e){
			//if($(e.target).is($('.j-props-elem'))){

				//var title = $('.j-elems-container').find('tr').has('[data-id='+$(e.target).data('id')+']').find('.j-elem-title').text();
				//var content = $('.j-elems-container').find('tr').has('[data-id='+$(e.target).data('id')+']').find('.j-elem-content div').text();
				var id = $(e.target).data('id');
				$.post( $('.j-dir').html()+'/tpl/templates/default/admin/includes/propsElem.php',{id: id})
				.done(function( data ) {
					$('#callback').html('');
					$('#callback').html(data);
				});

			//}

			e.preventDefault();
		});
	});
</script>

<script src="{{dir}}/tpl/templates/default/admin/js/load-edit-elem.js"></script>