{% if request == false %}
	{% include 'default/admin/header.html' %}
	<section id="main" class="column">
{% endif %}


<h4 class="alert_info">Менеджер категорий</h4>

<article class="module width_full">

	<div class="module_content">
		<ul style="font-size: 26px; color: #444; list-style:none; padding: 0; width: 50%; float: left;">
			{% include "default/admin/includes/categories-tree.html"  with {'treeCats':treeCats, 'idsCats':catsWithElems} only %}
		</ul>
		<div style="width: 40%; float: right; font-size: 15px; color: #000; padding: 30px; margin-top: 30px; background-color: #B5E5EF; border: 1px solid #77BACE;">
			Структура каталогов контента. Каждый вложенный элемент, наследует свойства всех родительских категорий. Если в категории есть элементы, они выводятся в виде кнопки под названием категории. При нажатии на эту кнопку элементы, находящиеся в текущей категории, будут подгружены в область снизу.
		</div>
		<div style="clear:both;"></div>
	</div>

</article>

<article class="module width_full">
	<header><h3>Элементы в категории</h3></header>
	<div class="j-elems-container">
	<table class="tablesorter" cellspacing="0" id="j-elems-table">
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Заголовок</th>
				<th>Автор</th>
				<th>Контент</th>
				<th>Статус</th>
				<th>Дата создания</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	</div>
</article>

{% if request == false %}
	</section>
{% endif %}

<script>

	$('.cats-toggle a').on('click', function(e){
		$(this).siblings('ul').slideToggle(200);
		$(this).siblings('i').toggleClass('fa-minus');
	});


	$('.j-cats-elems').on('click', function(){
		var id = $(this).data('id');

		/*loadElems({
			'container': '.j-elems-container',
			'link': '.j-elemsNav-link',
			'table': '.j-elems-table',
			'url': 'elems',
			'countNav': {{countElems}},
			'offset': false
		});*/

		$.ajax({
			'url' : $('.j-dir').html()+'/admin/elems?catId='+id,
			success: function(data){
				var fragment = $('<div>').html(data);
				$('.j-elems-container').css('opacity', 0);
				$('.j-elems-container').html($('#j-elems-table', fragment));
				$('.j-elems-container').animate({'opacity': 1}, 500);
				$('body').trigger('ajax');
			}
		});
	});

</script>

<!-- Подгрузка в фэнсибокс -->
<script>
	$(function(){
		$('.j-elems-container').on('click', function(e){
			if($(e.target).is($('.j-edit-elem'))){

				var title = $('.j-elems-container').find('tr').has('[data-id='+$(e.target).data('id')+']').find('.j-elem-title').text();
				var content = $('.j-elems-container').find('tr').has('[data-id='+$(e.target).data('id')+']').find('.j-elem-content').text();
				$.post( $('.j-dir').html()+'/tpl/templates/default/admin/includes/editElem.php',
				{
					'title': title,
					'content': content
				})
				.done(function( data ) {
					$('#callback').html(data);
				});

			}

			e.preventDefault();
		});
	});
</script>


<!-- Обновление элемента -->
<script>
	$(function(){
		$('#callback').on('click', '#j-update-elem' ,function(e){

			var title = $('[name=title]').val();
			var content = $('[name=content]').val();

			$.post( $('.j-dir').html()+'/admin/content/update/1',
			{
				'title': title,
				'content': content
			})
			.done(function( data ) {
				$.fancybox.close();
			});
		});
	});
</script>


