{% if request == false %}
	{% include 'default/admin/header.html' %}
	<section id="main" class="column">
{% endif %}

<h4 class="alert_info">Страница управления контентом</h4>

<article class="module width_full">
	<header><h3>Редактирование названий существующих свойств</h3></header>
	<div class="module_content">
		{%for property in properties%}
			<h4 style="display: inline-block; margin-right: 20px;">{{property.prop_title}}</h4>
		{%endfor%}
	</div>
</article>

<article class="module width_full">
	<header><h3>Добавить новый материал</h3></header>
		<div class="module_content">
				<fieldset>
					<label>Заголовок</label>
					<input type="text">
				</fieldset>
				<textarea id="textID" name="textID"></textarea>
				<script>
				   $(document).ready(function($) {
				        CKEDITOR.replace( 'textID',{}); 
				    });
				</script>
				<fieldset style="width:48%; float:left;">
					<label>Tags</label>
					<input type="text" style="width:92%;">
				</fieldset><div class="clear"></div>
		</div>
	<footer>
		<button class="footer-button" id="j-publish">Опубликовать</button>
		<select id="j-active-dropdown">
			<option>Черновик</option>
			<option>Опубликовано</option>
		</select>
		<select id="j-cats-dropdown">
			{% for cat in cats %}
				<option value="">{{cat.title}}</option>
			{% endfor %}
		</select>
	</footer>
</article>
{% if request == false %}
	</section>
{% endif %}
<script type="text/javascript" src="{{dir}}/libs/ckeditor/ckeditor.js"></script>
<script>

	

</script>