<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Админка</title>

	<link rel="stylesheet" href="{{dir}}/css/admin/layout.css" type="text/css"/>
	<link rel="stylesheet" href="{{dir}}/libs/font-awesome-4.2.0/css/font-awesome.min.css"/>
	<link rel="shortcut icon" href="{{dir}}/imgs/admin/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{dir}}/libs/fancybox/jquery.fancybox.css" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{{dir}}/css/admin/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="{{dir}}/js/jquery-1.11.2.min.js"></script>
	<script src="{{dir}}/js/hideshow.js"></script>
	<script src="{{dir}}/js/jquery.tablesorter.min.js"></script>
	<script src="{{dir}}/js/jquery.equalHeight.js"></script>
	<script src="{{dir}}/js/admin/common.js"></script>
	<script src="{{dir}}/libs/fancybox/jquery.fancybox.pack.js"></script>
	<script>

		$(document).ready(function() {
			$(".tablesorter").tablesorter();
			$('body').on('ajax', function(){
				$(".tablesorter").tablesorter();
			});
		});

		$(".fancybox").fancybox();

		$(document).ready(function() {

		//When page loads...
		$(".tab_content").hide(); //Hide all content
		$("ul.tabs li:first").addClass("active").show(); //Activate first tab
		$(".tab_content:first").show(); //Show first tab content

		//On Click Event
		$("ul.tabs li").click(function() {

			$("ul.tabs li").removeClass("active"); //Remove any "active" class
			$(this).addClass("active"); //Add "active" class to selected tab
			$(".tab_content").hide(); //Hide all tab content

			var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
			$(activeTab).fadeIn(); //Fade in the active ID content
			return false;
		});

	});
	</script>
<script>
	$(function(){
		$('.column').equalHeight();
	});
</script>

</head>


<body>
	<div style="display:none;" class="j-dir">{{dir}}</div>
	<div id="callback">
	</div>
	<div class="message-box"></div>
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="index.html">Админка</a></h1>
			<h2 class="section_title">Рабочий стол</h2><div class="btn_view_site"><a href="http://www.medialoot.com">Просмотр сайта</a></div>
		</hgroup>
	</header> <!-- end of header bar -->
	<section id="secondary_bar">
		<div class="user">
			<p>{{userData['fname']}} {{userData['lname']}} (<a href="#">3 Messages</a>)</p>
			<a class="logout_user" href="{{dir}}/auth/logout" title="Logout">Logout</a>
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="index.html">Админка</a> <div class="breadcrumb_divider"></div> <a class="current">Рабочий стол</a></article>
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
		<form class="quick_search">
			<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/>
		<h3 class="j-content-manager" data-content="index">Главная</h3>
		<h3 class="j-content-manager" data-content="categories">Категории</h3>
		<h3 class="toggleLink j-content-manager" data-content="content">Контент</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="#">Новая статья</a></li>
			<li class="icn_edit_article"><a href="#">Редактировать статью</a></li>
			<li class="icn_categories"><a href="#">Категории</a></li>
			<li class="icn_tags"><a href="#">Тэги</a></li>
		</ul>
		<h3 class="toggleLink j-content-manager" data-content="users">Пользователи</h3>
		<ul class="toggle">
			<li class="icn_add_user"><a href="{{dir}}/admin/users">Add New User</a></li>
			<li class="icn_view_users"><a href="#">View Users</a></li>
			<li class="icn_profile"><a href="#">Your Profile</a></li>
		</ul>
		<h3 class="toggleLink j-content-manager" data-content="media">Медиафайлы</h3>
		<ul class="toggle">
			<li class="icn_folder"><a href="#">File Manager</a></li>
			<li class="icn_photo"><a href="#">Gallery</a></li>
			<li class="icn_audio"><a href="#">Audio</a></li>
			<li class="icn_video"><a href="#">Video</a></li>
		</ul>
		<h3 class="toggleLink">Администратор</h3>
		<ul class="toggle">
			<li class="icn_settings"><a href="#">Options</a></li>
			<li class="icn_security"><a href="#">Security</a></li>
			<li class="icn_jump_back"><a href="{{dir}}/auth/logout">Logout</a></li>
		</ul>
		
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2015 Партола Марк</strong></p>
			<p>Дизайн <a href="http://www.medialoot.com">MediaLoot</a></p>
			<p>Программирование и верстка <a href="http://vk.com/id95537731">Партола Марк</a></p>
		</footer>
	</aside><!-- end of sidebar -->
	