{% if request == false %}
	{% include 'default/admin/header.html' %}
	<section id="main" class="column">
{% endif %}


<h4 class="alert_info">Страница управления пользователями</h4>

<article class="module width_full">
	<header><h3>Пользователи</h3></header>
	<div class="module_content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, adipisci? Nulla maiores minus praesentium repellat voluptatum ad ex adipisci ducimus debitis error maxime, nihil. Maxime dolores, a id nam porro.</p>
	</div>
</article>


{% if request == false %}
	</section>
{% endif %}

