{% if request == false %}
	{% include 'default/admin/header.html' %}
	<section id="main" class="column">
{% endif %}


<h4 class="alert_info">Страница управления пользователями</h4>

<article class="module width_full">
	<header><h3>Пользователи</h3></header>

	<div class="tab_container">
		<div id="j-users-container">
		<table class="tablesorter" cellspacing="0" id="j-users-table">
			<thead>
				<tr>
					<th></th>
					<th>Имя</th>
					<th>Фамилия</th>
					<th>Отчество</th>
					<th>Логин</th>
					<th>Адрес</th>
					<th>Дата рождения</th>
					<th>Телефон</th>
					<th>Email</th>
					<th>Активность</th>
					<th>Роль</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td><input type="checkbox" value="{{user.id}}"></td>
						<td>{{user.fname}}</td>
						<td>{{user.lname}}</td>

						{% if user.patronymic %}
							<td>{{user.patronymic}}</td>
						{% else %}
							<td>Нет данных</td>
						{% endif %}

						<td>{{user.login}}</td>

						{% if user.address %}
							<td>{{user.address}}</td>
						{% else %}
							<td>Нет данных</td>
						{% endif %}

						{% if user.birthday %}
							<td>{{user.birthday}}</td>
						{% else %}
							<td>Нет данных</td>
						{% endif %}

						{% if user.phone %}
							<td>{{user.phone}}</td>
						{% else %}
							<td>Нет данных</td>
						{% endif %}

						<td>{{user.email}}</td>

						{% if user.status == 1 %}
							<td><input type="checkbox" checked="checked" name="{{login}}" value="{{user.status}}"></td>
						{% else %}
							<td><input type="checkbox" name="{{login}}" value="{{user.status}}"></td>
						{% endif %}

						<td>{{user.user_role}}</td>

						<td>
							<input type="image" src="{{dir}}/imgs/admin/icn_edit.png" title="Изменить">
							<input type="image" src="{{dir}}/imgs/admin/icn_trash.png" title="Удалить">
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
		<footer>
			<h3 style="font-size:20px; text-transform: lowercase; margin-top: 3px;">
			{% if countUsers != 1 %}
				<a href="#" style="margin-right: 10px;" class="j-usersNav-link" data-dir="left">
					<i class="fa fa-angle-left"></i> Туда
				</a>

				{% for i in 1..countUsers %}

						<a href="#" data-pos="{{i}}" class="j-pagination">{{ i }}</a>

				{% endfor %}

				<a href="#" style="margin-left: 10px;" class="j-usersNav-link" data-dir="right">Сюда 
					<i class="fa fa-angle-right"></i>
				</a>
			{% endif %}
			</h3>
		</footer>

	</div>
</article>

<script>

	/*
	* Навигация по пользователям
	*/
	var pageUser = 1; //текущая страница
	var hidden; //скрытая кнопка

	hideDirectionButton(); //сразу активируем, т.к первая страница, нужно скрыть кнопку влево

	function hideDirectionButton(count){

		var direction;

		//определяем границу
		if(pageUser === 1){
			direction = 'left'
		}else if(pageUser === count){
			direction = 'right'
		}

		//управляем показать/скрыть в зависимости от границы
		if(hidden)
			hidden.css({
				'opacity': 1,
				'pointer-events': 'auto'
			});

		var what = $('.j-usersNav-link[data-dir='+direction+']');
		what.css({
			'opacity': 0,
			'pointer-events': 'none'
		});

		hidden = what;

		//подсветка активного пункта
		var buttonPagination = $('.j-pagination');
		buttonPagination.css({
			'color': '#77BACE',
			'pointer-events': 'auto'
		});
		buttonPagination.eq(pageUser-1).css({
			'color': '#999',
			'pointer-events': 'none'
		});
	}

	$('.j-usersNav-link').on('click', function(e){
		var direction = $(this).data('dir');
		if(direction === 'right'){
			if(pageUser < {{countUsers}})
				pageUser++;
		} else {
			if(pageUser > 1)
				pageUser--;
		}

		hideDirectionButton({{countUsers}});

		console.log(pageUser);

		e.preventDefault();
		$('body').trigger('getUsersByOffset', pageUser);

	});

	$('.j-pagination').on('click', function(e){

		pageUser = $(this).data('pos');

		hideDirectionButton({{countUsers}});

		e.preventDefault();
		$('body').trigger('getUsersByOffset', pageUser);
	});


	//запрос с сервера пользователей по смещению
	$('body').on('getUsersByOffset', function(e, offset){
		var offsetUser = offset;
		$.ajax({
			'url' : $('.j-dir').html()+'/admin/users?usersOffset='+offsetUser,
			success: function(data){
				var fragment = $('<div>').html(data);
				$('#j-users-container').html($('#j-users-table', fragment));
				$('body').trigger('ajax');
			}
		});
	});

</script>

<script>
	$('body').trigger('ajax');
</script>


{% if request == false %}
	</section>
{% endif %}

